@font-face {
	font-family: 'Birmingham'; 
    font-weight: normal;
	src: local('Birmingham'),
		url(/assets/Fonts/Birmingham.ttf); 
}

@font-face {
	font-family: 'Birmingham'; 
    font-weight: bold;
	src: local('Birmingham'),
		url(/assets/Fonts/BirminghamBold.ttf); 
}

@font-face {
	font-family: 'Birmingham'; 
    font-weight: bolder;
	src: local('Birmingham'),
		url(/assets/Fonts/BirminghamTitlingBold.ttf); 
}