html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1, ul {
    margin: 0;
}

input[type="radio"] {
    display: none;
}

body {
    margin: 0;
    background-image: url(../assets/Images/background.jpeg);
    background-size: 50%;
    font: normal 20px/1.5 'Noto Serif', serif;
    color: #684318;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.4);
}

.wrapper {
    padding: 20px;
}

header {
    margin-bottom: 60px;
}

button:disabled,
button[disabled] {
  cursor: default;
  opacity: .3;
  transition: .5s;
}

.text-shadow {
    color: rgba(255, 255, 255, 0.7);
    mix-blend-mode: multiply;
    text-shadow: 0 0 0.05em rgba(69, 60, 57, 0.2), -0.025em 0.025em 0.1em rgb(61, 53, 45),
    -0.05em 0.05em 0.1em rgb(91, 81, 75), -0.1em 0.1em 0.3em rgb(49, 44, 40),
    -0.1em 0.1em 0.5em rgba(81, 80, 79, 0.5);
}

.title__wrapper {
    padding-top: 2%;
}

.title {
    font: normal 46px/1.5 Birmingham, sans-serif;
    text-align: center;
    
}

.title__subtitle_ancients {
    margin-left: auto;
    text-align: center;
    opacity: 100%;
    transform: scale(1);
    transition: 1s;
}

main {
    min-height: 400px;
}

.ancients-cards__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ancient-cards__card {
    position: absolute;
    max-width: 22.5%;
    transition: 1s;
}

.ancient-cards__card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 4px 11px -3px #000000;
    transition: .3s;
    cursor: pointer;
}

.ancient-cards__card-image:hover {
    transform: scale(1.2);
    z-index: 1;
    transition: .3s;
}

.card-chosen {
    transform: scale(1.2);
    box-shadow: 0px 0px 8px 10px rgba(255, 255, 255, 0.25);
}

.card-overlay {
    z-index: 2;
}

.azathoth-js-distribute {
    transform: translateX(-20%);
    transition: 1s;
}

.cthulthu-js-distribute {
    transform: translateX(102.5%);
    transition: 1s;
}

.iogsothoth-js-distribute {
    transform: translateX(225%);
    transition: 1s;
}

.shubniggurath-js-distribute {
    transform: translateX(347.5%);
    transition: 1s;
}


.ancient-button-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 1%;
}

.ancient-button {
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 5px 2px 15px 1px #000000;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}

.radios-container {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 42%;
    max-width: 20%;
    position: absolute;
    left: 35%;
    transition: .5s;
}

.radios-container input[type="radio"]:hover+label,
.ancient-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 4px 11px 3px #2f2c2a, 5px 4px 5px -3px rgba(255, 255, 255, 0.2) inset;
}

.radios-container input[type="radio"]:checked+label,
.ancient-button:checked {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 4px 11px 3px #2f2c2a, 5px 4px 5px -3px rgba(255, 255, 255, 0.2) inset;
}

.radio__label {
    display: block;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 4px 11px -3px #000000;
    cursor: pointer;
    transition: .5s;
}

.state-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    position: absolute;
    left: calc(50% - 200px);
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 5px 2px 15px 1px #000000; */
}

.stage-container {
    display: flex;
    transition: 1s;
    /* justify-content: space-between; */
}

.stage-title {
    min-width: 30px;
    margin-right: 15px;
    padding-top: 4px;
}

.stage-dots-container {
    display: flex;
    justify-content: space-between;
    min-width: 160px;
}

.dot {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding-top: 2px;
    text-align: center;
    box-shadow: 5px 2px 15px 1px #000000;
}

.green {
    border: 3px solid #355E19;
    background: rgba(255, 255, 255, 0.15);
}

.brown {
    border: 3px solid #A88200;
    background: rgba(255, 255, 255, 0.15)
}

.blue {
    border: 3px solid #4859AA;
    background: rgba(255, 255, 255, 0.15)
}

.js-dot-bw {
    filter: grayscale(100%);
}

.deck-container {
    display: flex;
    position: absolute;
    left: 57.5%;
}

.card-back__container {
    /* padding: 0 20px; */
    opacity: 100%;
    transform: scale(100%);
    transition: .5s;
    max-height: 250px
}

.card-back__image {
    max-width: 70%;
    min-width: 125px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 4px 11px -3px #000000;
    cursor: pointer;
}

.current-card-container {
    /* padding: 0 20px; */
    opacity: 100%;
    transform: scale(100%);
    transition: .5s;
    max-height: 250px
}

.current-card {
    max-width: 72.5%;
    min-width: 125px;
    height: auto;
    border-radius: 10px;
    transition: .5s;
    /* box-shadow: 5px 4px 11px -3px #000000; */
}

.current-card:hover {
    transform: scale(1.25);
    transition: .5s;
}

.js-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 5;
    transition: 1s;
}

.popup {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    min-width: 370px;
    max-width: 460px;
    width: 50%;
    padding: 40px 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 20;
    background: rgba(245, 245, 220, 0.5);
    box-shadow: 5px 4px 11px -3px #000000;
    border-radius: 16px;
    transform: translateY(-250%);
    transition: .5s all linear;
}

.popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup__title-text {
    margin-top: 40px;
    margin-bottom: 60px;
}

.popup__submit {
    border: none;
    border-radius: 10px;
    min-height: 60px;
    min-width: 300px;
    padding: 20px 30px;
    background: rgba(245, 245, 220, 0.5);
    box-shadow: 5px 4px 11px -3px #000000;
    font: normal 20px/1.5 'Noto Serif', serif;
    color: #684318;
    transition: .5s;
}

.popup__submit:hover {
    background: rgba(245, 245, 220, 0.75);
    box-shadow: 5px 4px 11px -3px #684318;
    transition: .5s;
}

.js-show-popup {
    transform: translateY(0);
    transition: .5s all linear;
}

.js-hide-opacity {
    opacity: 0;
    transform: scale(0);
    transition: 1s;
}

.js-hide {
    visibility: hidden;
    transition: .5s;
}

.js-hide-fast {
    transform: scale(0);
    display: none;
}